* {
  padding       : 0;
  margin        : 0;
  box-sizing    : border-box;
  font-synthesis: none;
}

.App {
  text-align: center;
}

button {
  padding: 12px 16px 12px 16px;
  border : 0;
  cursor : pointer;
}

.d-flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.mt-2 {
  margin-top: 16px;
}

.mb-2 {
  margin-bottom: 16px;
}

input,
select {
  height          : 44px;
  padding-left    : 16px;
  width           : 80px;
  font-size       : 16px;
  border          : 0;
  background-color: transparent;
  border          : 1px solid #fff;
  color           : #fff;
}

select {
  width: 100%;
}

option {
  color: #000;
}

.g-20 {
  gap: 20px;
}

.txt {
  font-size  : 24px;
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.btn-green {
  background-color: #04AA6D;
  color           : #fff;
  font-weight     : 600;
}