body {
  background-color: #C2B97F;
}

article {
  border: 2px solid #fff;
  /* width: fit-content; */
  padding: 12px;
  text-align: left;
}

article h3 {
  color: #fff;
}

article p {
  color: #ffffffb7;
}

.render-post {
  width: fit-content;
  margin: auto;
}